@font-face {
  font-family: Rudiment;
  src: url("Rudiment.eot") /* EOT file for IE */
}
@font-face {
  font-family: Rudiment;
  src: url("Rudiment.ttf") /* TTF file for CSS3 browsers */
}

table#blackboard {
  font-family: Rudiment;
  font-size: 14pt;
  margin: 5px;
  padding: 10px;
  border: ridge #8f583f 10px;
  box-shadow:inset 0 0 7px #000000;
  background-color: #2f5812;
  color: #F8F8F8;
  font-weight: bold;

  td:first-child {
    padding-right: 3em;
  }
  .drunk, .debit {
    padding-right: 1em;
  }
  td.drunk, td.debit {
    text-align: right;
  }
}

input.drink {
  height : 1em;
}
