<!DOCTYPE html>
<html>
<head>
  <title>PrancingPony</title>
  <%= stylesheet_link_tag    "prancing_pony/application" %>
  <%= javascript_include_tag "prancing_pony/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
